<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.JunitLaunchConfig">
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="org.eclipse.pde.junit.runtime.coretestapplication"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/pde-junit"/>
    <booleanAttribute key="default" value="false"/>
    <setAttribute key="deselected_workspace_bundles">
        <setEntry value="com.b2international.collections.api"/>
        <setEntry value="com.b2international.collections.fastutil"/>
        <setEntry value="com.b2international.collections.jackson"/>
        <setEntry value="com.b2international.commons"/>
        <setEntry value="com.b2international.commons.test"/>
        <setEntry value="com.b2international.gcloud"/>
        <setEntry value="com.b2international.index"/>
        <setEntry value="com.b2international.index.tests"/>
        <setEntry value="com.b2international.index.tests.tools"/>
        <setEntry value="com.b2international.mapdb"/>
        <setEntry value="com.b2international.org.immutables"/>
        <setEntry value="com.b2international.restassured-all"/>
        <setEntry value="com.b2international.snomed.ecl.ide"/>
        <setEntry value="com.b2international.snomed.ecl.ui"/>
        <setEntry value="com.b2international.snomed.etl"/>
        <setEntry value="com.b2international.snomed.etl.ide"/>
        <setEntry value="com.b2international.snomed.etl.tests"/>
        <setEntry value="com.b2international.snomed.etl.ui"/>
        <setEntry value="com.b2international.snomed.ql"/>
        <setEntry value="com.b2international.snomed.ql.ide"/>
        <setEntry value="com.b2international.snomed.ql.tests"/>
        <setEntry value="com.b2international.snomed.ql.ui"/>
        <setEntry value="com.b2international.snowowl.atc.core"/>
        <setEntry value="com.b2international.snowowl.atc.core.tests"/>
        <setEntry value="com.b2international.snowowl.atc.ui"/>
        <setEntry value="com.b2international.snowowl.cci.core"/>
        <setEntry value="com.b2international.snowowl.cci.core.tests"/>
        <setEntry value="com.b2international.snowowl.cci.ui"/>
        <setEntry value="com.b2international.snowowl.client.core"/>
        <setEntry value="com.b2international.snowowl.client.core.tests"/>
        <setEntry value="com.b2international.snowowl.client.snomed"/>
        <setEntry value="com.b2international.snowowl.core"/>
        <setEntry value="com.b2international.snowowl.core.rest"/>
        <setEntry value="com.b2international.snowowl.core.rest.tests"/>
        <setEntry value="com.b2international.snowowl.core.tests"/>
        <setEntry value="com.b2international.snowowl.dataset"/>
        <setEntry value="com.b2international.snowowl.dmd.core"/>
        <setEntry value="com.b2international.snowowl.dmd.core.tests"/>
        <setEntry value="com.b2international.snowowl.dmd.help"/>
        <setEntry value="com.b2international.snowowl.dmd.ui"/>
        <setEntry value="com.b2international.snowowl.eventbus"/>
        <setEntry value="com.b2international.snowowl.eventbus.tests"/>
        <setEntry value="com.b2international.snowowl.examples.installer"/>
        <setEntry value="com.b2international.snowowl.ext.unmc"/>
        <setEntry value="com.b2international.snowowl.fhir.core"/>
        <setEntry value="com.b2international.snowowl.fhir.rest"/>
        <setEntry value="com.b2international.snowowl.fhir.rest.tests"/>
        <setEntry value="com.b2international.snowowl.folder.core"/>
        <setEntry value="com.b2international.snowowl.folder.core.tests"/>
        <setEntry value="com.b2international.snowowl.help"/>
        <setEntry value="com.b2international.snowowl.help.filters"/>
        <setEntry value="com.b2international.snowowl.icd10.core"/>
        <setEntry value="com.b2international.snowowl.icd10.core.commons"/>
        <setEntry value="com.b2international.snowowl.icd10.core.tests"/>
        <setEntry value="com.b2international.snowowl.icd10.fhir"/>
        <setEntry value="com.b2international.snowowl.icd10.rest"/>
        <setEntry value="com.b2international.snowowl.icd10.ui"/>
        <setEntry value="com.b2international.snowowl.icd10.ui.commons"/>
        <setEntry value="com.b2international.snowowl.icd10am.core"/>
        <setEntry value="com.b2international.snowowl.icd10am.core.tests"/>
        <setEntry value="com.b2international.snowowl.icd10am.ui"/>
        <setEntry value="com.b2international.snowowl.icd10ca.core"/>
        <setEntry value="com.b2international.snowowl.icd10ca.core.tests"/>
        <setEntry value="com.b2international.snowowl.icd10ca.ui"/>
        <setEntry value="com.b2international.snowowl.icd10cm.core"/>
        <setEntry value="com.b2international.snowowl.icd10cm.core.tests"/>
        <setEntry value="com.b2international.snowowl.icd10cm.ui"/>
        <setEntry value="com.b2international.snowowl.icd10uk.core"/>
        <setEntry value="com.b2international.snowowl.icd10uk.core.tests"/>
        <setEntry value="com.b2international.snowowl.icd10uk.fhir"/>
        <setEntry value="com.b2international.snowowl.icd10uk.rest"/>
        <setEntry value="com.b2international.snowowl.icd10uk.ui"/>
        <setEntry value="com.b2international.snowowl.identity.ldap"/>
        <setEntry value="com.b2international.snowowl.imo.core"/>
        <setEntry value="com.b2international.snowowl.imo.core.tests"/>
        <setEntry value="com.b2international.snowowl.imo.ui"/>
        <setEntry value="com.b2international.snowowl.keyword.core"/>
        <setEntry value="com.b2international.snowowl.keyword.core.tests"/>
        <setEntry value="com.b2international.snowowl.lcs.core"/>
        <setEntry value="com.b2international.snowowl.lcs.core.tests"/>
        <setEntry value="com.b2international.snowowl.lcs.ui"/>
        <setEntry value="com.b2international.snowowl.license"/>
        <setEntry value="com.b2international.snowowl.licensegenerator"/>
        <setEntry value="com.b2international.snowowl.logback.config"/>
        <setEntry value="com.b2international.snowowl.logging.client.logbackconfiguration"/>
        <setEntry value="com.b2international.snowowl.loinc.core"/>
        <setEntry value="com.b2international.snowowl.loinc.core.tests"/>
        <setEntry value="com.b2international.snowowl.loinc.fhir"/>
        <setEntry value="com.b2international.snowowl.loinc.rest"/>
        <setEntry value="com.b2international.snowowl.loinc.ui"/>
        <setEntry value="com.b2international.snowowl.mappingset.core"/>
        <setEntry value="com.b2international.snowowl.mappingset.core.rest"/>
        <setEntry value="com.b2international.snowowl.mappingset.core.rest.tests"/>
        <setEntry value="com.b2international.snowowl.mappingset.core.snomed"/>
        <setEntry value="com.b2international.snowowl.mappingset.core.snomed.tests"/>
        <setEntry value="com.b2international.snowowl.mappingset.core.tests"/>
        <setEntry value="com.b2international.snowowl.mappingset.fhir"/>
        <setEntry value="com.b2international.snowowl.mappingset.omop"/>
        <setEntry value="com.b2international.snowowl.mappingset.ui"/>
        <setEntry value="com.b2international.snowowl.nicip.core"/>
        <setEntry value="com.b2international.snowowl.nicip.core.tests"/>
        <setEntry value="com.b2international.snowowl.nicip.ui"/>
        <setEntry value="com.b2international.snowowl.ogf.core"/>
        <setEntry value="com.b2international.snowowl.ogf.core.tests"/>
        <setEntry value="com.b2international.snowowl.ogf.snomed"/>
        <setEntry value="com.b2international.snowowl.ogf.ui"/>
        <setEntry value="com.b2international.snowowl.opcs.core"/>
        <setEntry value="com.b2international.snowowl.opcs.core.tests"/>
        <setEntry value="com.b2international.snowowl.opcs.ui"/>
        <setEntry value="com.b2international.snowowl.owltools"/>
        <setEntry value="com.b2international.snowowl.pclocd.core"/>
        <setEntry value="com.b2international.snowowl.pclocd.core.tests"/>
        <setEntry value="com.b2international.snowowl.pclocd.ui"/>
        <setEntry value="com.b2international.snowowl.product"/>
        <setEntry value="com.b2international.snowowl.reasoner.cli"/>
        <setEntry value="com.b2international.snowowl.rpc"/>
        <setEntry value="com.b2international.snowowl.rpc.test"/>
        <setEntry value="com.b2international.snowowl.scripting.examples"/>
        <setEntry value="com.b2international.snowowl.scripting.ui"/>
        <setEntry value="com.b2international.snowowl.scripting.uk"/>
        <setEntry value="com.b2international.snowowl.scripting.uk.tests"/>
        <setEntry value="com.b2international.snowowl.scripts"/>
        <setEntry value="com.b2international.snowowl.semantic.core"/>
        <setEntry value="com.b2international.snowowl.semantic.core.tests"/>
        <setEntry value="com.b2international.snowowl.semantic.ui"/>
        <setEntry value="com.b2international.snowowl.server.product"/>
        <setEntry value="com.b2international.snowowl.snomed.cis"/>
        <setEntry value="com.b2international.snowowl.snomed.cis.rest"/>
        <setEntry value="com.b2international.snowowl.snomed.common"/>
        <setEntry value="com.b2international.snowowl.snomed.core.rest"/>
        <setEntry value="com.b2international.snowowl.snomed.core.rest.tests"/>
        <setEntry value="com.b2international.snowowl.snomed.datastore"/>
        <setEntry value="com.b2international.snowowl.snomed.datastore.tests"/>
        <setEntry value="com.b2international.snowowl.snomed.dsl.ui"/>
        <setEntry value="com.b2international.snowowl.snomed.fhir"/>
        <setEntry value="com.b2international.snowowl.snomed.icons"/>
        <setEntry value="com.b2international.snowowl.snomed.importer.ui"/>
        <setEntry value="com.b2international.snowowl.snomed.mrcm.ui"/>
        <setEntry value="com.b2international.snowowl.snomed.reasoner"/>
        <setEntry value="com.b2international.snowowl.snomed.reasoner.tests"/>
        <setEntry value="com.b2international.snowowl.snomed.rf2"/>
        <setEntry value="com.b2international.snowowl.snomed.tasks.ui"/>
        <setEntry value="com.b2international.snowowl.snomed.templates.core"/>
        <setEntry value="com.b2international.snowowl.snomed.templates.core.tests"/>
        <setEntry value="com.b2international.snowowl.snomed.templates.ui"/>
        <setEntry value="com.b2international.snowowl.snomed.ui"/>
        <setEntry value="com.b2international.snowowl.snomed.visualization.core"/>
        <setEntry value="com.b2international.snowowl.snomed.visualization.core.tests"/>
        <setEntry value="com.b2international.snowowl.snomed.visualization.dsl"/>
        <setEntry value="com.b2international.snowowl.snomed.visualization.model"/>
        <setEntry value="com.b2international.snowowl.snomed.visualization.ui"/>
        <setEntry value="com.b2international.snowowl.tasks.core"/>
        <setEntry value="com.b2international.snowowl.tasks.core.rest"/>
        <setEntry value="com.b2international.snowowl.tasks.core.rest.tests"/>
        <setEntry value="com.b2international.snowowl.tasks.core.tests"/>
        <setEntry value="com.b2international.snowowl.tasks.ui"/>
        <setEntry value="com.b2international.snowowl.test.commons"/>
        <setEntry value="com.b2international.snowowl.test.dependencies"/>
        <setEntry value="com.b2international.snowowl.translation.core"/>
        <setEntry value="com.b2international.snowowl.translation.core.tests"/>
        <setEntry value="com.b2international.snowowl.ui"/>
        <setEntry value="com.b2international.snowowl.ui.themes"/>
        <setEntry value="com.b2international.snowowl.umls.core"/>
        <setEntry value="com.b2international.snowowl.umls.core.tests"/>
        <setEntry value="com.b2international.snowowl.umls.ui"/>
        <setEntry value="com.b2international.snowowl.validation.ahs"/>
        <setEntry value="com.b2international.snowowl.validation.lcs"/>
        <setEntry value="com.b2international.snowowl.validation.mappingset"/>
        <setEntry value="com.b2international.snowowl.validation.snomed"/>
        <setEntry value="com.b2international.snowowl.validation.uk"/>
        <setEntry value="com.b2international.snowowl.valueset.core"/>
        <setEntry value="com.b2international.snowowl.valueset.core.rest"/>
        <setEntry value="com.b2international.snowowl.valueset.core.rest.tests"/>
        <setEntry value="com.b2international.snowowl.valueset.core.tests"/>
        <setEntry value="com.b2international.snowowl.valueset.fhir"/>
        <setEntry value="com.b2international.snowowl.valueset.ui"/>
        <setEntry value="com.b2international.snowowl.visualization"/>
        <setEntry value="com.b2international.snowowl.welcome"/>
        <setEntry value="com.b2international.snowowl.xls.core"/>
        <setEntry value="org.eclipse.ui.intro"/>
        <setEntry value="rf2-minifier"/>
    </setAttribute>
    <booleanAttribute key="includeOptional" value="true"/>
    <stringAttribute key="location" value="${workspace_loc}/../junit-workspace"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/com.b2international.snomed.ecl.tests"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value="=com.b2international.snomed.ecl.tests"/>
    <booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
    <stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-11"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value=""/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.b2international.snomed.ecl.tests"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="org.eclipse.platform.ide"/>
    <booleanAttribute key="run_in_ui_thread" value="true"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.diffplug.osgi.extension.sun.misc@default:false"/>
        <setEntry value="com.diffplug.osgi.extension.sun.reflect@default:false"/>
        <setEntry value="com.google.guava@default:default"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.jcraft.jsch@default:default"/>
        <setEntry value="com.sun.activation.javax.activation@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="io.github.classgraph.classgraph@default:default"/>
        <setEntry value="io.github.classgraph@default:default"/>
        <setEntry value="javax.activation-api@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="log4j.over.slf4j@default:default"/>
        <setEntry value="org.antlr.runtime@default:default"/>
        <setEntry value="org.apache.ant@default:default"/>
        <setEntry value="org.apache.batik.constants@default:default"/>
        <setEntry value="org.apache.batik.css@default:default"/>
        <setEntry value="org.apache.batik.i18n@default:default"/>
        <setEntry value="org.apache.batik.util@default:default"/>
        <setEntry value="org.apache.commons.cli@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.lang@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.apiguardian@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.debug.core@default:default"/>
        <setEntry value="org.eclipse.emf.codegen.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.codegen@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.mwe.core@default:default"/>
        <setEntry value="org.eclipse.emf.mwe.utils@default:default"/>
        <setEntry value="org.eclipse.emf.mwe2.runtime@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.ds@1:true"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.region@default:false"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.supplement@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.600.v20200408-1511@default:default"/>
        <setEntry value="org.eclipse.jdt.compiler.apt@default:false"/>
        <setEntry value="org.eclipse.jdt.compiler.tool@default:false"/>
        <setEntry value="org.eclipse.jdt.core@default:default"/>
        <setEntry value="org.eclipse.jdt.debug@default:default"/>
        <setEntry value="org.eclipse.jdt.launching@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.notifications@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.swt.browser.chromium.win32.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt.win32.win32.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.eclipse.xtend.lib.macro@default:default"/>
        <setEntry value="org.eclipse.xtend.lib@default:default"/>
        <setEntry value="org.eclipse.xtend.typesystem.emf@default:default"/>
        <setEntry value="org.eclipse.xtend@default:default"/>
        <setEntry value="org.eclipse.xtext.common.types@default:default"/>
        <setEntry value="org.eclipse.xtext.ide@default:default"/>
        <setEntry value="org.eclipse.xtext.logging@default:false"/>
        <setEntry value="org.eclipse.xtext.testing@default:default"/>
        <setEntry value="org.eclipse.xtext.util@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.eclipse.xtext@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.hamcrest.library@default:default"/>
        <setEntry value="org.jetbrains.kotlin.osgi-bundle@default:default"/>
        <setEntry value="org.junit.jupiter.api@default:default"/>
        <setEntry value="org.junit.platform.commons@default:default"/>
        <setEntry value="org.junit.platform.engine@default:default"/>
        <setEntry value="org.junit.platform.launcher@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.objectweb.asm@default:default"/>
        <setEntry value="org.opentest4j@default:default"/>
        <setEntry value="org.slf4j.api*1.7.30.v20200204-2150@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.b2international.snomed.ecl.tests@default:default"/>
        <setEntry value="com.b2international.snomed.ecl@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="false"/>
</launchConfiguration>
